{% extends "base.html" %}

{% block content %}
    <ul class="nav nav-tabs">
	<li role="presentation" class="active"><a href="#">Main</a></li>
	<li role="presentation"><a href="/character/{{ character.id }}/skills">Skills</a></li>
	<li role="presentation"><a href="#">Inventory</a></li>
    </ul>
    <div class="row">
	<div class="col-xs-12 col-md-8 well">
	    <div class="row">
		<div class="col-xs-12">
		    <h2 id="char_name">{{ character.first_name }} {{ character.last_name }}</h2>
		</div>
	    </div>
	    <div class="row">
		<div class="col-xs-6 col-md-4">
		    <h4> {{ character.race }} </h4>
		</div>
		<div class="col-xs-6 col-md-4">
		    <h4> {{ character.occ }} </h4>
		</div>
	    </div>
	    <div class="col-xs-6 col-md-6">
		<b>Sex: </b> {% if character.sex == "f" %}Female{% elif character.sex == "m"%}Male{% endif %}
		<br>
		<b>Age: </b> {{ character.age }}
		<br>
		<b>Height: </b> {{ character.height }}
		<br>
		<b>Weight: </b> {{ character.weight }}
		<br>
		<b>Occupation: </b> {{ character.occupation }}
		<br>
		<b>Alignment: </b> {{ character.align.name }} ({{ character.align.category }})
		<button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#align-modal">
		    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
		</button>
	    </div>
	    <div class="col-xs-6 col-md-6">
		<b>Level:</b> {{ character.lvl }}
		<a role="button" class="btn btn-primary btn-xs" href="/character/{{ character.id }}/lvl/dn">
		    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
		</a>
		<a role="button" class="btn btn-primary btn-xs" href="/character/{{ character.id }}/lvl/up">
		    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		</a>
		<br>
		{% set stats = ['iq', 'me', 'ma', 'ps', 'pp', 'pe', 'pb', 'spd'] %}
		{% for stat in stats %}
		<b>{{ stat| upper }}:</b> {{ character[stat] }}
		<br>
		{% endfor %}
	    </div>
	</div>
	<div class="col-xs-6 col-md-4">
	    <b>HP</b>: {{ character.hp }}  <b>SDC</b>: {{ character.sdc }}
	    <div class="progress">
		<div class="progress-bar progress-bar-success" style="width: 60%"></div>
		<div class="progress-bar progress-bar-danger" style="width: 40%"></div>
	</div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="align-modal" tabindex="-1" role="dialog" aria-labelledby="Alignment Modal">
      <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	    <h4 class="modal-title" id="align-modal-label">{{ character.align.name }}</h4>
	    <p class="modal-title" id="align-modal-sub">({{ character.align.category }})</p>
	  </div>
	  <div class="modal-body">
	    {{ character.align.description| safe }}	
	  </div>
	  <div class="modal-footer">
	    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	  </div>
	</div>
      </div>
    </div>
    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <!--
    <div class="row">
	<div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
	<div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
	<div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
    </div> 
    -->
{% endblock %}
