{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link href="/static/signin.css" rel="stylesheet">
{% endblock %}
   
{% block content %}
  <form class="form-signin" action="" method="post" name="newchar">
      {{ form.hidden_tag() }}
    <h2 class="form-signin-heading">New Skill Entry</h2>
    {{ form.category(class_="form-control") }}
    {{ form.name(class_="form-control", placeholder="Name") }}
    {{ form.base(class_="form-control", placeholder="Base %") }}
    {{ form.per_level(class_="form-control", placeholder="Per Level %") }}
    {{ form.description(class_="form-control", placeholder="Description") }}
    {{ form.note(class_="form-control", placeholder="Note") }}
    Hold the ctrl (or cmd) button to select multiple prerequisites
    {{ form.preqs(class_="form-control") }}
    
    <button class="btn btn-lg btn-primary btn-block" type="submit">Add Skill</button>
  </form>
{% endblock %}
