{% extends "base.html" %}

{% block content %}
    <ul class="nav nav-tabs">
	<li role="presentation"><a href="/character/{{ character.id }}">Main</a></li>
	<li role="presentation" class="active"><a href="#">Skills</a></li>
	<li role="presentation"><a href="#">Inventory</a></li>
    </ul>
    <div class="row">
	<div class="col-xs-12 well">
	    <h2>{{ character.first_name }} {{ character.last_name }}</h2>
	    <form>
		<input id="current_level" placeholder="Level"/>
	    </form>
	    <div class="row">
		{% set skillgroups = [ ('OCC','O.C.C. Skills'), ('REL','O.C.C. Related Skills'), ('SEC','Secondary Skills')] %}
		{% for (key, value) in skillgroups %}
		<div class="col-xs-12 col-md-4">
		    <b>{{ value }}:</b> 
		    {% for skill in character.skills %}
		    {% if skill.skill_type == key %}
		    <div class="row">
			<div class="col-xs-6">
			    {{ skill.skill.name }}
			</div>
			<div id="total{{ skill.skill.id }}" class="col-xs-2">
			    <script>
				$(document).ready(function() {
				$('#current_level').change(function()
					{ 
					    var skilltotal = ($('#current_level').val()*1 * {{ skill.skill.per_level }}) + {{ skill.skill.base }} {% if skill.class_bonus %}+ {{ skill.class_bonus }}{% endif %}
					    $("#total{{ skill.skill.id }}").html(skilltotal + "%")
					});
				});
			    </script>
			</div>
			<div class="col-xs-2">
			    <button type="button"
			    class="btn btn-primary btn-xs"
			    data-toggle="modal"
			    data-target="#skilldesc_{{ skill.skill.id }}">
				show
			    </button>
			</div>
		    </div>
		    {% endif %}
		    {% endfor %}
		</div>
		{% endfor %}
	    </div>
	</div>
	<div class="col-xs-6 col-md-4">
	    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addskill">
		Add Skill	
	    </button>
	</div>
    </div>

    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <div class="row">
	<div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
	<div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
	<div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
    </div> 
    {% for skill in character.skills %}
    <!-- {{ skill.skill.name }} Desc Modal -->
    <div class="modal fade" id="skilldesc_{{ skill.skill.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
	    <h4 class="modal-title" id="myModalLabel">{{ skill.skill.name }}</h4>
          </div>
          <div class="modal-body">
	      <b>Desc:</b>
	      <br>
	      <p>{{ skill.skill.description|safe }}</p>
	      {% if skill.skill.note %}
	      <br>
	      <b>Note:</b>
	      <p>{{ skill.skill.note }}</p>
	      {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <!-- Add Skill Modal -->
    <div class="modal fade" id="addskill" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
	    <h4 class="modal-title" id="myModalLabel">Add New Skill for {{ character.first_name}}</h4>
          </div>
          <div class="modal-body">
	      <form class="form" action="" method="post" name="addskilltochar">
		  {{ form.hidden_tag() }}
		{{ form.category(class_="form-control", id="cat_sel") }}
		{{ form.skill_type(class_="form-control") }}
		{{ form.bonus(class_="form-control", placeholder="Class Bonus") }}
		{{ form.skills(class_="form-control", id="skill_list", height="40px", width="30px") }}
		<span id="test_out">output</span>
          </div>
          <div class="modal-footer">
                <button type="submit" class="btn btn-danger">Add Skills</button>
            </form>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
